{% extends 'base.html' %}
{% block content %}

<h1>New Item</h1>

<form method="POST">
  {{ form.csrf_token }}
    <fieldset>
        <legend>Please enter your information:</legend>

      <!-- NAME INPPUT -->
        {{ form.name.label }}
        {{ form.name }}
        <!-- Show form errors -->
        <ul>
          {% for error in form.name.errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>

      <!-- PRICE INPPUT -->
        {{ form.price.label }}
        {{ form.price }}
        <!-- Show form errors -->
        <ul>
          {% for error in form.price.errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>

      <!-- CATEGORY INPPUT -->
        {{ form.category.label }}
        {{ form.category }}
        <!-- Show form errors -->
        <ul>
          {% for error in form.category.errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>

      <!-- PHOTO URL INPPUT -->
        {{ form.photo_url.label }}
        {{ form.photo_url }}
        <!-- Show form errors -->
        <ul>
          {% for error in form.photo_url.errors %}
            <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>

      <!-- STORE INPPUT -->
        {{ form.store.label }}
        {{ form.store }}

        {{ form.submit }}
    </fieldset>
</form>


{% endblock %}
